{% extends "layout.html" %}
{% block css %}
<style>
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  vertical-align: middle;
  margin: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}


/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 5px solid #f00;
    background-color: darkgray;
}
</style>
{% endblock %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  function entryradio() {
    var col, el;
    $("input[type=radio]").click(function() {
	el = $(this);
	col = el.attr("id");
	$("input[id=\"" + col + "\"]").prop("checked", false);
	el.prop("checked", true);
    });
}

  $(entryradio);
</script>
{% endblock %}
{% block content %}
<div class="form-check">
  <div class="row justify-content-center">
    <div class="col-auto">
        <h1>Welcome {{ current_user.username }}</h1>
        <h3>This is the members-only page.</h3>
	<form name="entryform" method="POST">
	  {% if form.errors %}
	  {{ form.errors }} <br/>
	  {% endif %}
	  {{ form.hidden_tag() }}
	  {{ form.submit() }}
	  <table class="table table-bordered table-responsive">
	    <thead class="table-primary">
	      <tr>
		<th scope="col">Team</th>
		{% for week in weeks %}
		<th scope="col">{{ week }}</th>
		{% endfor %}
	      </tr>
	    </thead>
	    <tbody>
	      {% for team in teams %}
	      <tr>
		<th scope="row" class="table-primary" >{{ team.school }}</th>
		{% for wk in form.weeks %}
		{{ wk.teams(use=team.school) }}
		{% endfor %}
	      </tr>
	      {% endfor %} <!-- teams -->
	    </tbody>
	  </table>
	</form>
    </div>
  </div>
</div>
{% endblock %}
