{% extends "layout.html" %}
{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
  function entryradio() {
    var col, el;
    $("input[type=radio]").click(function() {
	el = $(this);
	col = el.data("col");
	$("input[data-col=\"" + col + "\"]").prop("checked", false);
	el.prop("checked", true);
    });
}

  $(entryradio);
</script>
{% endblock %}
{% block content %}

{% if grid and teams and weeks %}
<h1> Schedule</h1>
<div class="form-check">
  <div class="row justify-content-center">
        <div class="col-auto">
<table class="table table-bordered table-responsive">
  <thead class="table-primary">
    <tr>
      <th scope="col">Team</th>
      {% for week in weeks %}
        <th scope="col">{{ week }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for team in teams %}
    <tr>
      <th scope="row" class="table-primary" >{{ team }}</th>
      {% for week in weeks %}
        {% if (team, week) in grid %}
          {% set mod, lthis, lthat, chk, conference = grid[team, week] %}
          {% if chk %}
          <td class="{{conference}}"> <label class="radio-inline"> <input class="form-check-input" style="vertical-align: middle; margin: 0px;" type="radio" name="{{week}}" data-col="{{team}}" aria-label="{{team}} {{week}}" checked>vs <img src="{{lthat}}" style="width:50px;height:50px;"></label></td>
          {% else %}
          <td class="{{conference}}"> <label class="radio-inline"> <input class="form-check-input" style="vertical-align: middle; margin: 0px;" type="radio" name="{{week}}" data-col="{{team}}" aria-label="{{team}} {{week}}">vs <img src="{{lthat}}" style="width:50px;height:50px;"></label></td>
          {% endif %}
	{% else %}
        <td></td>
	{% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>

</table>
</div>
</div>
</div>
{% endif %}
{% endblock %}
