
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to CFB Survivor Pool</h1>
    </div>
</div><!-- /.jumbotron -->

{% if conferences %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-sm table-responsive">
      <thead>
	<tr>
	  <th scope="col">Conference</th>
	  <th scope="col">Conference Standings</th>
	  <th scope="col">Conference Schedule</th>
	  <th scope="col">Conference Scores</th>
	</tr>
      </thead>
      <tbody>
	{% for conf in conferences %}
	<tr>
	  <th scope="row">{{conf}}</th>
	  <td><a href="/standings/{{year}}/{{conf}}">Leaderboards</a></td>
	  <td><a href="/schedule/{{year}}/{{conf}}">Schedule</a></td>
	  <td><a href="/games/{{year}}/{{conf}}">Scores</a></td>
	</tr>
	{% endfor %}
      </tbody>
  </table>
  </div>
</div>
{% endif %}
{% endblock %}
